# OS
.DS_Store

# Logs
logs
*.log

# Database
*.sqlite

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
venv/
.cache/
dist/
build/
*.egg-info/

# Environment
.env
.env.*
!.env.example

# Crash dumps
core
core.*

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml
.pre-commit-config.yaml

# direnv
.direnv

# local deploy script
deploy.sh